
.form-box {
	border-style: solid;
	border-width: 0.5px;
	border-color: #ccc;
	padding: 20px;
}

.form-group {
	margin-bottom: 25px;
}


/*************************/
/******** PHONE **********/
@media (max-width: 480px) {
	
	.nav-logo {
		width: 150%;
	}

}

}
